@font-face {
  font-family: charter;
  src: url("../fonts/charter-regular.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: charter;
  src: url("../fonts/charter-bold.otf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: charter;
  src: url("../fonts/charter-italic.otf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: charter;
  src: url("../fonts/charter-bold-italic.otf");
  font-weight: bold;
  font-style: italic;
}
:root {
  font-size: 18px;
  --gray30: #212121;
  --gray20: #212429;
  --gray10: #616161;
  --yellow: #fec62e;
  /* direction: rtl; */
}
html {
  font-size: 16px;
}
body {
  color: var(--gray30);
  /* font-family: charter; */
  font-family: "Roboto", sans-serif;
}
a {
  color: var(--gray30);
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
header {
  /*--gray10:red;  update variable value inside this context*/
  font-size: 14px;
  color: var(--gray10);
}
header a {
  font-size: 14px;
  color: var(--gray10);
  text-decoration: none;
}
header a:hover {
  color: var(--gray30);
}
nav details summary {
  font-weight: bold;
}
pre {
  background-color: var(--yellow);
}
.hero {
  height: 350px;
  background-image: linear-gradient(to top, rgba(255,255,255,0.3), transparent), url('../images/pattern.png');
}
.section-content {
    counter-reset: titleList;
}
.section-content h3 {
    counter-increment: titleList;
}
.section-content h3::before {
    content: counter(titleList, decimal);
}
.section-content h3::after {
    content: '';
    width: 30px;
    height: 4px;
    background: var(--gray30);
    display: block;
}

