@font-face {
  font-family: charter;
  src: url("../fonts/charter-regular.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: charter;
  src: url("../fonts/charter-bold.otf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: charter;
  src: url("../fonts/charter-italic.otf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: charter;
  src: url("../fonts/charter-bold-italic.otf");
  font-weight: bold;
  font-style: italic;
}
:root {
  font-size: 18px;
  --white30:white;
  --white20: #A5A3A5;
  --white10: #3A3539;
  --yellow: #fec62e;
  /* direction: rtl; */
}
html {
  font-size: 16px;
}
body {
  margin: 0;
  color: var(--white30);
  /* font-family: charter; */
  font-family: 'Nunito', sans-serif;
  background-color: #251F24;
}
a {
  color: var(--white30);
}
h1 {
  font-size: 60px;
  margin-block-start: 64px;
  margin-block-end: 16px;
  text-align: end;
}
h2 {
  font-size: 2em;
  margin-block: 40px;
}
h3 {
  font-size: 1.5em;
  font-weight: 600;
  margin-block: 16px;
}
hr {
  margin-block: 40px;
  border-color: 1px solid rgba(97, 97, 97, 0.2);
}
.header {
  position: sticky;
  inset-block-start: -45px;
}
.header-content {
  position: relative;
  inset-block-start: 65px;
}
header {
  /*--white10:red;  update variable value inside this context*/
  font-size: 14px;
  color: var(--white30);
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: -208px;
  inline-size: 188px;
}
header a {
  font-size: 14px;
  color: var(--white20);
  text-decoration: none;
}
header p {
  color: var(--white30);
}
header li {
  color: var(--white20);
  margin-block-end: 16px;
}
header a:hover {
  color: var(--white30);
}
nav details summary {
  font-weight: bold;
}
pre {
  background-color: var(--white10);
  padding-block: 40px;
  padding-inline: 40px;
  overflow: auto;
  border-radius: 8px;
  border: 10px solid #5551FF;
  box-shadow: -10px 10px 0px 0px #ABAAF6;
  margin-block-end: 30px;
}
p {
  color: var(--white20);
}
blockquote {
  background-color: var(--white10);
  margin-block-start: 80px;
  margin-inline-end: 63px;
  border-radius: 8px;
  padding-block: 24px;
  padding-inline: 24px;
  line-height: 32px;
  font-size: 24px;
}
blockquote p {
  color: var(--white30);
}
.hero {
  height: 350px;
  background-image: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
}
.section-content {
    counter-reset: titleList;
}
.section-content h3 {
    counter-increment: titleList;
}
.section-content h3::before {
    content: counter(titleList, decimal)'. ';
}
.section-content h3::after {
    content: '';
    width: 30px;
    height: 4px;
    background: var(--white30);
    display: none;
}
.section-content img {
  margin-block-start: 40px;
  max-inline-size: 100%;
  display: block;
}
.main {
}
.wrapper {
  /* inline-size: 902px; */
  max-inline-size: 902px;
  /* block-size: 100px; */
  margin: auto;
}
.main-content {
  padding-inline: 16px;
}
.main hr {
  display: none;
}

